.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        width: 100%;
        p {
            padding-top: 5px;
            background-image: linear-gradient(
                262.71deg,
                #00d1ff -30.04%,
                #00ffa3 124.74%
            );
            background-size: 100%;
            background-clip: text;
            color: transparent;
            text-align: right;
        }
    }

    .button-container {
        width: 405.7y6px;
        color: #000;
    }
}
